/* ───────────── Window ───────────── */

window {
    margin: 0px;
    border: 2px solid rgba(177, 98, 134, 0.4);
    border-radius: 12px;
    background-color: rgba(20, 20, 30, 0.7);

    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}


/* ───────────── Main container ───────────── */

#outer-box {
    margin: 10px;
    padding: 2px;

    border: none;
    background-color: transparent;
}


/* ───────────── Search bar ───────────── */

#input {
    margin: 4px 5px 10px 5px;
    padding: 8px 12px;

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

#input:focus {
    border: 1px solid rgba(177, 98, 134, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
}


/* ───────────── App list ───────────── */

#scroll {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#inner-box {
    margin: 0px;
    padding: 2px;

    border: none;
    background-color: transparent;
}


/* ───────────── App entries ───────────── */

#entry {
    margin: 2px 0px;
    padding: 7px 9px;

    border: 1px solid transparent;
    border-radius: 8px;

    background-color: transparent;
}

#entry:hover {
    background-color: rgba(124, 92, 255, 0.15);
}


/* ───────────── Selected entry ───────────── */

#entry:selected {
    border: 1px solid rgba(124, 92, 255, 0.25);
    border-radius: 8px;

    background-color: rgba(124, 92, 255, 0.4);
}


/* ───────────── Icon ───────────── */

#img {
    margin-right: 8px;
}


/* ───────────── Text ───────────── */

#text {
    margin: 4px;
    color: #e0e0e0;
}

#entry:selected #text {
    color: #e0e0e0;
}

